@charset "utf-8";

div#witryna {
margin-left: auto;
margin-right: auto;
width: 98%;
	
/* background: radial-gradient( ellipse, center, #222 15%, #333 100%);	*/
}


header#naglowek a.odnosnik_czerwony {
font-size : 120% ;
font-weight : bold ;
color : #e22	;
text-decoration :	underline;	
}

header#naglowek div#naglowek_kontener {
background-color: #c3d5e2;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 2px 2px 5px rgba(0,0,0, 0.7);	
/* min-height: 6em;	 */
}

header#naglowek div#naglowek_kontener div#formularz {
margin-left: auto;
margin-right: auto;
padding-top: 1em;	
/*background-color: #66c; */
background-color: cornflowerblue;	
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 0 2px 5px rgba(0,0,0, 0.7);
}

#form_error {
display: none;
color: white;
font-weight: bolder;
background: red;
border: 1px solid white;
padding: 0.2em;	
}

form#wyszukaj fieldset {
text-align: center;	
padding-bottom: 0.6em;	
	
}

form#wyszukaj input {
margin: 0.2em;
padding: 0.2em;	
font-size: 110%;
}

form#wyszukaj input[type="text"] {
width: 35em;
}

input[type="button"] {
/*background-color: darkblue; 
color: yellow;	*/
padding-left: 0.4em;		
padding-right: 0.4em;		
}
	
form#wyszukaj input[type="submit"] {
/*background-color: darkblue; 
color: yellow;	*/
padding-left: 0.4em;		
padding-right: 0.4em;		
font-weight: bold;	
}


div#naglowek_kontener div#spis_tresci {
overflow: hidden; 
width: 100%;	
	
}

div#spis_tresci div#galeria_spis {
background-color: cornflowerblue;
/* float: left;	*/
padding: 1em;	
margin-left: 1em;
margin-right: 1em;	
margin-bottom: 1em;	
overflow: hidden;
width: 100%;	
}

div#galeria_spis div.kontener_odnosnik {
border: 1px solid blue;
box-shadow: 1px 1px 3px darkblue;	
margin : 1em 0.5em;
padding: 0.5em;	
border-radius: 5px;
width ; 100%	;
float: left;
max-width: 250px;	
transition: background-color 0.25s ease-out;		
}

div#galeria_spis div.kontener_odnosnik:hover {
/* rodzic_background-color: cornflowerblue == #6495ed ; */
/* background-color: cornflowerblue;	*/
background-color: #5a8ae8;
}

div#galeria_spis div.tytul_odnosnik {
height: 6em;
vertical-align: bottom;	
}

div#galeria_spis div.tytul_odnosnik h2 {
vertical-align: bottom;
color: white;
text-shadow: 2px 2px 6px black;	
}

div#galeria_spis div.tytul_odnosnik h2.mniejszy {
font-size: 140%;  /* a nie 175% jak h2 */
}


div#galeria_spis div.zdjecie_odnosnik {

	/* float: left; /*
background-color: darkblue;
width: 200px;	
/*margin : 0.5em;*/
}

div#galeria_spis div.zdjecie_odnosnik a {
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
	
}

div#galeria_spis div.zdjecie_odnosnik img {
border: 4px solid white;	
box-shadow: 3px 3px 6px darkblue;
margin-left: auto;
margin-right: auto;	
}

div#galeria_spis div.kontener_tekstowy_odnosnik {
/*float: left; */
/*margin: 0 1em;	*/
/*background-color: #c3d5e2; */
padding: 0.3em;	
}


div#galeria_spis div.data_odnosnik {
text-align: center;
font-size: 80%;
font-weight: bold;
padding-top: 0.4em;
padding-bottom: 0.4em;
/*background-color: #c3d5e2; */
	
}

div#spis_tresci div#spis_sterowanie {
background-color: aqua;	
	
}




div#spis_tresci div#spis_sterowanie h2#zaladuj_galerie_spis {
display: none;	
max-width: 16em;	
margin-left: auto;
margin-right: auto;
margin-bottom: 1em;	
cursor: pointer;	
}



div#spis_tresci div#galeria_spis_podmiana {
background-color : #ddd ;
float : right ;	
padding : 1em ;	
margin : 1em ;
border : 2px solid red ;	
}





div#glowna {
margin-top: 0.7em;	
overflow: hidden;
background-color: white;
box-shadow: 2px 2px 5px rgba(0,0,0, 0.7);	
border-radius: 10px;	
}

div#glowna>div#komentarz {
background-color: brown;
}

div#glowna div#zawartosc {
background-color: bisque;
}

div#glowna article{
padding: 0.8em 1.2em;
}



nav#nawigacja_galeria {
background-color: cornflowerblue;
padding: 0.5em 1.1em;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

nav#nawigacja_galeria button {
margin: 0.5em;
padding: 0.1em 0.6em; 
font-size: 120%;
border-radius: 4px;
}


div#wczytywanie, div#wczytywanie_spis {
display: none;
padding: 2em;
/* margin: 2em; */
background-color: cornflowerblue;	
border: 3px dotted yellow;
}

div#wczytywanie h2, div#wczytywanie_spis h2 {
color: yellow;	

}

div#wczytywanie h2 img, div#wczytywanie_spis h2 img {
animation: obroty360 1.2s infinite ease-in;	
}


div#zawartosc_do_podmiany{
position: absolute ;
top: 185px ;
left: 1150px ;
background-color: yellow ;
border: 2px solid red ;	
  /* display: none ; */
}


div#skladowisko {
/* background-color: coral; */
background-color: #c3d5e2;
padding: 0.5em 0.6em;
overflow: hidden;
display: none;	
/* display: table;	*/
}

div#skladowisko a {
padding: 0.1em 0.5em;
vertical-align: 40%	;	
/* position: relative; */	
/* line-height: 10px; 
	display: table-cell;	*/
	
}

div#skladowisko a img {
margin: 0.5em;
border: 2px solid white;
box-shadow: 1px 1px 4px black;	
max-height: 116px;
align-self:baseline;
transition: box-shadow 0.3s ease-out;	
/* position: absolute;
top: 5px;
left: 70px;	*/
/* display: table-row-group;		
	float: left;	
transform: translateY(-10px); */
}

div#skladowisko a img:hover {
box-shadow: 1px 1px 4px black, 2px 2px 7px rgba(0, 0, 0, 0.5);		
	
}
	
footer#stopka {
clear: both;
/* background-color: #aad; */
background-color: cornflowerblue;		
margin-top: 0.7em;
margin-bottom: 2em;	
padding: 1em 2em;	
text-align: center;
border-radius: 10px;
box-shadow: 2px 2px 5px rgba(0,0,0, 0.7);		
}

footer#stopka button {
font-size: 120%;
padding: 0.1em 1em;	
}

footer#stopka div#poco {
display: none;	
padding: .5em 1em;
margin: 0.5em 0;
background-color: deepskyblue;
background: radial-gradient(circle at bottom, #c3d5e2 10%, deepskyblue); 	
}

footer#stopka div#poco p:first-of-type {
font-style: italic ;	
}

footer#stopka div#pomoc {
display: none;	
padding: .5em 1em;
margin: 0.5em 0;	
/* background-color: dodgerblue;	*/
background-color: #c3d5e2;	
background: radial-gradient(circle at top, #c3d5e2 10%, deepskyblue ); 	
}



h1 {
font-size: 220%;
font-weight: bold;
color: blueviolet;
padding: 0.1em 0.1em;
text-shadow: 1px 1px 1px #eee, 3px 3px 10px #666;	
}

h1.zmienny {
transition: all 0.8s ease-out 0.1s;
text-align: center;	
}

h1.zmienny:hover {
margin-left: 30px;
color: mediumblue;
text-shadow: 1px 1px 1px #eee, 3px 3px 8px #444, 1px 1px 4px #222;
}


h2 {
font-size: 175%;
font-weight: bold;
/* color: darkred; */
color: #54f;
padding: 0.2em 0.5em;	
text-shadow: 2px 2px 6px #666;
text-align: center;	
}

h2.przycisk {
background-color: dodgerblue;

}



h3 {
font-size: 125%;
font-weight: bold;
color: darkmagenta;
text-shadow: 1px 1px 3px #bbb;
padding: 0.2em 0.5em;	
text-align: center;	
}

p {
text-align: justify;	
}


.clearfix::after {
content: "";
clear: both;
display: table;	
}

.clearfix2 {
clear: both;
}


@keyframes obroty360 {
	0% {
	transform: rotate(0deg);
	}
	50% {
	transform: rotate(90deg);
	}
	75% {
	transform: rotate(135deg);
	}
	100% {
	transform: rotate(-135deg);
	}
}




@media screen and (max-width: 320px) { 

	body {
	font-size: 70%;	
	} 

	form#wyszukaj input[type="text"] {
 width: 17em;		
 }
	
	footer#stopka {
 padding: 1em 0;	
	}
}


@media screen and (min-width: 321px) and (max-width: 480px) { 

	body {
	font-size: 80%;	
	}
	
	form#wyszukaj input[type="text"] {
 width: 15em;		
 }
	
	footer#stopka {
 padding: 1em 0.2em;	
	}

}