@charset "utf-8";

* {
box-sizing: border-box;	
}

div#witryna {
margin: 1em auto;
width: 98%;
	
/* background: radial-gradient( ellipse, center, #222 15%, #333 100%);	*/
}

header#naglowek div#naglowek_kontener {
background-color: #c3d5e2;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

header#naglowek h1 span {
color: yellow;
font-weight: bolder;
}

header#naglowek h2 span {
color: yellow;
font-weight: bolder;
}

header#naglowek div#napis_spod {
position:absolute;
left: 0;
bottom: 0;
background-color: rgba(100,100, 200, 0.7);
width: 100%;	
}

div#napis_spod h3 {
width: 100%;	
max-height: 26px;	
	
}


header#naglowek div#banner {
border-top-left-radius: 10px;
border-top-right-radius: 10px;	
background-color: cornflowerblue;	
/* background-color: #009de0;	*/
overflow:	hidden;
width: auto;
height: 180px;
}

header#naglowek div#banner {
background-color: cornflowerblue;	
/* background-color: #009de0;	*/
overflow:	hidden;
width: auto;
height: 180px;
position: relative;
}



header#naglowek div#logo {
position: relative;	
/*float: left;	*/

	background-color: cornflowerblue;	
	/*background-color: rgba(85, 85, 185, 0.3); */
height: 200px;
width: 200px;	

}

div#logo div#slonce_logo {
height: 160px;
height: 256px;
	
width: 	160px;
width: 266px;

background-image: url(grafiki/slonce.png); 
background-repeat: no-repeat;	
/*background-position: -112px -112px; 
*/
position: absolute;	
left: -115px;
top: -115px;	
	
/* outline: 2px solid red; */
	
transform-origin: 50% 50%;

transition: all 0.5s ease 0.1s;	 



	/*transform-origin: center center;*/
}

div#banner:hover div#slonce_logo {
/* transform: scale(1.25, 1.25); */
transform-origin: 50% 50%;
left: -85px;
top: -85px;		
}




header#naglowek div#napisy {
/*float: left;*/
position: absolute;
left: 200px;
top: 0;	
		
		background-color: cornflowerblue;	
		/* background-color: rgba(95, 95, 225, 0.7); */	
}

header#naglowek div#napisy p {
height: 0;
width: 0;
clear: both;	
}




header#naglowek a.odnosnik_czerwony {
font-size : 120% ;
font-weight : bold ;
color : #d46	;
text-decoration :	underline;	
}

header#naglowek div#naglowek_kontener {
background-color: #c3d5e2;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 2px 2px 5px rgba(0,0,0, 0.7);	
/* min-height: 6em;	 */
}

header#naglowek div#naglowek_kontener div#formularz {
margin-left: auto;
margin-right: auto;
padding-top: 1em;	
/*background-color: #66c; */
background-color: cornflowerblue;	
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 0 2px 5px rgba(0,0,0, 0.7);
}

#form_error {
display: none;
color: white;
font-weight: bolder;
background: red;
border: 1px solid white;
padding: 0.2em;	
}

form#wyszukaj fieldset {
text-align: center;	
padding-bottom: 0.6em;	
	
}

form#wyszukaj input {
margin: 0.2em;
padding: 0.2em;	
font-size: 110%;
}

form#wyszukaj input[type="text"] {
width: 35em;
}

input[type="button"] {
/*background-color: darkblue; 
color: yellow;	*/
padding: 0.25em 1em;
font-size: 120%;
}
	
form#wyszukaj input[type="submit"] {
/*background-color: darkblue; 
color: yellow;	*/
padding-left: 0.4em;		
padding-right: 0.4em;		
font-weight: bold;	
}


div#naglowek_kontener div#spis_tresci {
overflow: hidden; 
width: 100%;	
	
}

div#spis_tresci div#galeria_spis {
background-color: cornflowerblue;
/* float: left;	*/
padding: 1em;	
/*margin-left: 1em;
margin-right: 1em;	*/
margin-bottom: 1em;	
overflow: hidden;
width: 100%;	
}

div#galeria_spis div.kontener_odnosnik {
border: 1px solid blue;
box-shadow: 1px 1px 3px darkblue;	
margin : 0.75em 0.5em;
padding: 0.5em;	
border-radius: 5px;
width : 100%	;
float: left;
max-width: 250px;	
transition: all 0.25s ease-out;	
min-height: 575px;			
max-height: 575px;
overflow: hidden;
}

div#galeria_spis div.kontener_odnosnik:hover {
/* rodzic_background-color: cornflowerblue == #6495ed ; */
/* background-color: cornflowerblue;	*/
background-color: #5a8ae8;
border-color: #009;

}

div#galeria_spis div.tytul_odnosnik {
height: 6em;
vertical-align: bottom;	
}

div#galeria_spis div.tytul_odnosnik h2 {
vertical-align: bottom;
color: white;
text-shadow: 2px 2px 6px black;
word-wrap: break-word;	
}

div#galeria_spis div.tytul_odnosnik h2.nizszy {
line-height: 2.5em;
}


div#galeria_spis div.tytul_odnosnik h2.mniejszy {
font-size: 135%;  /* a nie 175% jak h2 standardowo */
}

div#galeria_spis div.tytul_odnosnik h2.najmniejszy {
font-size: 116%;  /* a nie 175% jak h2 std. */
}


div#galeria_spis div.zdjecie_odnosnik {

	/* float: left; /*
background-color: darkblue;
width: 200px;	
/*margin : 0.5em;*/
}

div#galeria_spis div.zdjecie_odnosnik a {
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
	
}

div#galeria_spis div.zdjecie_odnosnik img {
max-height: 320px;	
border: 4px solid white;	
box-shadow: 2px 2px 6px darkblue;
margin-left: auto;
margin-right: auto;	
}

div#galeria_spis div.kontener_tekstowy_odnosnik {
/*float: left; */
/*margin: 0 1em;	*/
/*background-color: #c3d5e2; */
padding: 0.3em;
overflow: hidden;
}


div#galeria_spis div.data_odnosnik {
text-align: center;
font-size: 80%;
font-weight: bold;
padding-top: 0.4em;
padding-bottom: 0.4em;
/*background-color: #c3d5e2; */
	
}


div#galeria_spis div.opis_odnosnik {
overflow: hidden;	
max-height: 299px;	/* wielokrotnosc 16px fontu */
text-align: justify;	
padding-bottom: 0.5em;
}

div#galeria_spis div.opis_odnosnik.max_y_260 {
max-height: 260px;	
}

div#galeria_spis div.opis_odnosnik.max_y_208 {
max-height: 208px;	
}

div#galeria_spis div.opis_odnosnik.max_y_160 {
max-height: 160px;	
}

div#galeria_spis div.opis_odnosnik.max_y_96 {
max-height: 96px;	
}



div#spis_tresci nav#spis_sterowanie {
		/* background-color: aqua;	*/

}


nav#spis_sterowanie p#status_galerii_spis {
padding: 0.6em 1em;
border: 2px dashed blue;
background-color: rgba(50, 60, 200, 0.7);
			/* display: none; */	
}


div#spis_tresci nav#spis_sterowanie h2#zaladuj_galerie_spis {
display: none;	
max-width: 16em;
background-color: cornflowerblue;
color: blue;
margin: 1em;	
margin-left: auto;
margin-right: auto;
padding-top: 0.3em;
padding-bottom: 0.3em;
cursor: pointer;	
border-radius: 8px;
border: 2px solid blue;
box-shadow: 1px 1px 3px darkblue;		
transition: all 0.5s ease 0.1s;
}

div#spis_tresci nav#spis_sterowanie h2#zaladuj_galerie_spis:hover {
box-shadow: 1px 1px 3px blue, 0px 0px 3px black;
	/* box-shadow: 0 0 3px rgba(0,0,0, 0.6); */
background-color: blue;
color: yellow;
}

div#spis_tresci div#selektor {
width: 100%;
background-color: crimson;
}

div#selektor h2#selektor_naglowek {
background-color: cornflowerblue;
color: #eee;
padding-top: 0.3em;
padding-bottom: 0.3em;    
border-top-left-radius: 14px;
border-top-right-radius: 14px;    
border: 2px solid #eee;

}

div#selektor div#wybor_galerii {
display: flex; 
flex-wrap: wrap;    
align-items: center;
background-color: lightgreen;
border-bottom-left-radius: 14px;
border-bottom-right-radius: 14px;    
border: 2px solid #eee;
padding-top: 0.8em;
padding-bottom: 0.8em;
}

div#wybor_galerii div {
/*flex-grow: 1;  */
}

div#wybor_galerii div#suwak_info {
display: flex;
justify-content: space-between;
align-items: center; 
/*flex-basis: 200px;*/    
}

div#wybor_galerii div#suwak_info div {
flex-basis: 130px;
padding: 0.5em 0.5em; 
text-align: right;
}


div#wybor_galerii > div:first-of-type {
background-color: dodgerblue;    
}

div#wybor_galerii > div:last-of-type {
background-color: cadetblue;  
flex-basis: 250px;
text-align: center;
}

div#wybor_galerii div#suwak {
    
flex-basis: 305px;  
text-align: center;
flex-grow: 6;
background-color: lightseagreen;
}

div#wybor_galerii div#suwak div {
/*padding-top: 1.5em;
padding-bottom: 1em; */   
}


form#wybierz_galerie {
	
}

form#wybierz_galerie input {
padding-left: 1em;
padding-right: 1em;
font-size: 120%;    
}

form#wybierz_galerie input#galeria_wybrany_nr {
max-width: 3.8em;
padding-left: 0.5em;
padding-right: 0.5em;
text-align: center;
}


form#wybierz_galerie input#suwak_galerii {
margin: 0.5em;
width: 90%;	
}


form#wybierz_galerie input.maly_guzik {
padding: 0.5em 2em;    
display: block;
min-width: 120px;
margin: 0 auto;    
}


form#wybierz_galerie input[type=text] {
font-size: 140%;
}

form#wybierz_galerie input[type=submit] {
font-weight: bold;
}


div#spis_tresci div#galeria_spis_podmiana {
background-color : #ddd ;
float : right ;	
padding : 1em ;	
margin : 1em ;
border : 2px solid red ;	
			/* display: none */
}

/* *** główny blok - zaczytywany ***  */ 



main#glowna {
margin-top: 0.7em;	
overflow: hidden;
background-color: white;
box-shadow: 2px 2px 5px rgba(0,0,0, 0.7);	
border-radius: 10px;	
}

main#glowna>div#komentarz {
background-color: brown;
}

main#glowna div#zawartosc {
background-color: bisque;
}

main#glowna article{
padding: 0.8em 1.2em;
}

main#glowna div#nazwa_galerii {
background-color: deepskyblue;
display: none;
padding: 0.5em;
padding-right: 1em;	
margin-bottom: 0.5em;	
overflow: hidden;	
}


main#glowna div#nazwa_galerii img {
float : left;
margin : 0.5em;
margin-right: 1.5em;	
max-height: 320px;
border: 4px solid white;	
}

main#glowna div#nazwa_galerii p {
font-size: 120%;
}


nav#nawigacja_galeria {
background-color: cornflowerblue;
padding: 0.5em 1.1em;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

nav#nawigacja_galeria button {
margin: 0.5em;
padding: 0.1em 0.6em; 
font-size: 120%;
border-radius: 4px;
}




div#wczytywanie, div#wczytywanie_spis {
display: none;
padding: 1.5em 2em;
/* margin: 2em; */
background-color: cornflowerblue;	
border: 3px dotted yellow;

}

div#wczytywanie h2, div#wczytywanie_spis h2 {
color: yellow;	

}

div#wczytywanie h2 img, div#wczytywanie_spis h2 img {
animation: obroty360 1.2s infinite ease-in;	
}


div#zawartosc_do_podmiany{
position: absolute ;
top: 185px ;
left: 1150px ;
background-color: yellow ;
border: 2px solid red ;	
/*   display: none ; */ /* --- */
}


div#skladowisko {
/* background-color: coral; */
background-color: #c3d5e2;
padding: 0.5em 0.6em;
overflow: hidden;
/* display: none;	*/
/* display: table;	*/
}

div#skladowisko a {
padding: 0.1em 0.5em;
vertical-align: 40%	;	
/* position: relative; */	
/* line-height: 10px; 
	display: table-cell;	*/
	
}

div#skladowisko a img {
margin: 0.5em;
border: 3px solid white;
box-shadow: 2px 2px 4px black;	
max-height: 116px;
/* align-self: baseline; */
align-self: center;
transition: box-shadow, transform 0.3s ease-out;	
/* position: absolute;
top: 5px;
left: 70px;	*/
/* display: table-row-group;		
	float: left;	
transform: translateY(-10px); */
}

div#skladowisko a img:hover {
box-shadow: 2px 2px 4px black, 4px 4px 8px 2px rgba(0, 0, 0, 0.6);	
transform: scale(1.1);
}
	
footer#stopka {
clear: both;
/* background-color: #aad; */
background-color: cornflowerblue;		
margin-top: 0.7em;
margin-bottom: 2em;	
padding: 1em 2em;	
text-align: center;
border-radius: 10px;
box-shadow: 2px 2px 5px rgba(0,0,0, 0.7);		
}

footer#stopka button {
font-size: 120%;
margin-left: 0.5em;	
padding: 0.35em 2em;	
}

footer#stopka div#poco {
display: none;	
padding: .5em 1em;
margin: 0.5em 0;
background-color: deepskyblue;
background: radial-gradient(circle at bottom, #c3d5e2 10%, deepskyblue); 	
}

footer#stopka div#poco p:first-of-type {
font-style: italic ;	
}

footer#stopka div#pomoc {
display: none;	
padding: .5em 1em;
margin: 0.5em 0;	
/* background-color: dodgerblue;	*/
background-color: #c3d5e2;	
background: radial-gradient(circle at top, #c3d5e2 10%, deepskyblue ); 	
}



h1 {
color: blueviolet;
font-size: 220%;
font-weight: bold;
text-align: center;
padding: 0.1em 0.1em;
text-shadow: 1px 1px 1px #eee, 3px 3px 10px #666;	
}

h1.zmienny {
transition: all 0.8s ease-out 0.1s;
text-align: center;	
}

h1.zmienny:hover {
margin-left: 30px;
color: #ee6699;
text-shadow: 1px 1px 1px #eee, 3px 3px 8px #444, 1px 1px 4px #222;
}

h1.logo {
color: yellow;
font-size: 300%;
padding-bottom: 0.05em;	
}




h2 {
font-size: 175%;
font-weight: bold;
/* color: darkred; */
color: #54c;
padding: 0.2em 0.5em;	
text-shadow: 2px 2px 6px #666;
text-align: center;	
}

h2.przycisk {
background-color: dodgerblue;
}

h2.logo {
font-size: 225%;	
padding-top: 0;
line-height: 20px;	
}



h3 {
font-size: 125%;
font-weight: bold;
color: darkmagenta;
text-shadow: 1px 1px 3px #ccc;
padding: 0.2em 0.5em;	
text-align: center;	
}

p {
text-align: justify;	
}

form {
font-size: 110%;	
}

form input {
margin: 0.2em;
padding: 0.2em;
font-size: 110%;		
}

p.blad {
padding: 2em;
margin: 3px auto;
width: 90%;
color: yellow;
text-align: center;
font-size: 2em;
font-weight: bold;
background-color: darkred;
border: 2px solid #eee;
}

.clearfix::after {
content: "";
clear: both;
display: table;	
}

.clearfix2 {
clear: both;
}

.kontener {
width : 100% ;
max-width: 1400px;    
align-items: center;
margin: 0 auto;
}

.szara_zawartosc {
filter: grayscale(80%);
/*
filter: brightness(120%);
*/
}


/* tempklasse */
.animacja_1 {
/* transform-origin: center center;	*/	
animation: obroty_delikatne_3 6.5s infinite ease-out;	
	
}



@keyframes obroty360 {
	0% {
	transform: rotate(0deg);
	}
	50% {
	transform: rotate(90deg);
	}
	75% {
	transform: rotate(135deg);
	}
	100% {
	transform: rotate(-135deg);
	}
}

@keyframes obroty_delikatne {
	0% {
	transform: rotate(0deg);
	}
	10% {
	transform: rotate(12deg);
	}
	20% {
	transform: rotate(55deg);
	}
	30% {
	transform: rotate(35deg);
	}
	40% {
	transform: rotate(10deg);
	}
	50% {
	transform: rotate(0deg);
	}
	60% {
	transform: rotate(-10deg);
	}
	70% {
	transform: rotate(-50deg);
	}
	80% {
	transform: rotate(-20deg);
	}
	90% {
	transform: rotate(-8deg);
	}
	100% {
	transform: rotate(0deg);
	}
}


@keyframes obroty_delikatne_2 {
	0% {
	transform: rotate(0deg);
	}
	5% {
	transform: rotate(12deg);
	}
	20% {
	transform: rotate(75deg);
	}
	30% {
	transform: rotate(40deg);
	}
	40% {
	transform: rotate(15deg);
	}
	50% {
	transform: rotate(0deg);
	}
	60% {
	transform: rotate(-10deg);
	}
	70% {
	transform: rotate(-90deg);
	}
	80% {
	transform: rotate(-20deg);
	}
	95% {
	transform: rotate(-8deg);
	}
	100% {
	transform: rotate(0deg);
	}
}

@keyframes obroty_delikatne_3 {
	0% {
	transform: rotate(0deg);
	}
	20% {
	transform: rotate(75deg);
	/* transform: scale(1.1, 1.1);	*/
	}
	45% {
	transform: rotate(5deg) scale(0.95, 0.95);
	/* transform: scale(1.0, 1.0);	*/
	}
	50% {
	transform: scale(1.05, 1.05); /* rotate(-90deg);	*/
	}
	57% {
	transform: scale(1.0, 1.0) rotate(-10deg);	
	}
	65% {
	transform: rotate(-40deg);
	}
	80% {
	transform: rotate(-95deg);
	}
	100% {
	transform: rotate(0deg);
	}
}





@media screen and (max-width: 320px) { 

	body {
	font-size: 70%;	
	} 

	div#witryna {
	margin: 0.4em auto; 	
	}
	
	
	form#wyszukaj input[type="text"] {
    width: 17em;		
    }
	
	div#galeria_spis div.kontener_odnosnik {
	min-height: 375px;			
	max-height: 375px;
	}
	
	div#galeria_spis div.kontener_odnosnik img {
	max-height: 220px;
	}
	
	footer#stopka {
 padding: 1em 0;	
	}
}


@media screen and (min-width: 321px) and (max-width: 480px) { 

	body {
	font-size: 80%;	
	}
	
	div#witryna {
	margin: 0.6em auto; 	
	}

	div#galeria_spis div.kontener_odnosnik {
	min-height: 475px;			
	max-height: 475px;		
	}

	div#galeria_spis div.kontener_odnosnik img {
	max-height: 270px;
	}
	
	
	form#wyszukaj input[type="text"] {
 width: 15em;		
 }
	
	footer#stopka {
 padding: 1em 0.2em;	
	}

}